@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco_Udemy.Core.ViewModel.RegisterViewModel>
@using Umbraco_Udemy.Core.Controllers
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Register Form</h1>
            @Html.ValidationSummary()
            <!--Tell it (RegisterController?) what will be doing the post handling-->
            @using (Html.BeginUmbracoForm<RegisterController>("HandleRegister"))
            {
                <h2 class="h3">Fill in the details below to register.</h2>

                @Html.AntiForgeryToken();

                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @type = "text" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <button type="submit" value="Register" name="register-button" class="btn btn-primary">Register</button>
            }
        </div>
    </div>
</div>
